/* reset margin, padding */
body{
    margin: 0 !important;
    padding: 0 !important;
}

.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}
.banner{
    
    height: 500px;
    background: url('./blog.jpg') center center no-repeat;
    padding: 20px;
}

.about-sign-in{
    height: 80px;
    width: 100%;
    text-align: right;
}
.about,
.sign-in{
    text-decoration: none;
    margin-top: 20px;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
}
    
.sign-in{
    margin-right: 50;
    margin-left: 20px;
    border: 1px solid green;
    border-radius: 15px;
}

.logo{
    background: url('./cafe.png') center center no-repeat;
    margin-top: 40px;
    height: 100px;
}

.text{
    text-align: center;
    margin-top: 30px;
}
.btn-start-now{
    text-align: center;
}

button{
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid green;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.content-center{
    height: 50px;
    
}

.left, .center, .right {
    display: inline-block;
    width: 33%;
    text-align: center;
  

}
span{
    display: block;
    font-size: 20px;
}
.text span{
    color: green;
}
img {
    width: 50px;
    height: 50px;
}